{% extends "base.html"%}
{% block main %}
  {{ form.hidden_tag() }}
   <div class="container">
   <table  border="2">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    {% endfor %}
    {% block page_content %}{% endblock %}
    </div>
    {% from "_field.html" import render_field %}
    <p hidden="hidden" style="height: 20px">
    <form action="{{url_for ('version_maintain',page_name='new')}}" method="post">
       <script>
function setSecond(obj){
  var val = obj.value;
  if(val == '1'){
    var sec = document.getElementById('job_id');
    $("#job_id").find("option").remove();
    sec.options[0] = new Option("api.admin","1");
    sec.options[1] = new Option("voyageradmin","2");
    sec.options[2] = new Option("voyager.ypg","4");
    sec.options[3] = new Option("voyagerbidding","966");
    sec.options[4] = new Option("voyagerdisplay","967");
    sec.options[5] = new Option("voyageropen","968");
    sec.options[6] = new Option("voyagercheating","969");
    sec.options[7] = new Option("voyagerdemand","970");
    sec.options[8] = new Option("voyagerreport","971");
    sec.options[9] = new Option("voyagerconsumer","972");
    sec.options[10] = new Option("voyager.ad.admin","973");
    sec.options[11] = new Option("voyager.activity_static","974");
    sec.options[12] = new Option("voyager.ad.demand","975");
    sec.options[13] = new Option("voyager.ad.passport_static","976");
    sec.options[14] = new Option("voyager.ad.www","977");
    sec.options[15] = new Option("voyager.display_node","978");
  }if(val == '2'){
    var sec = document.getElementById('job_id');
    $("#job_id").find("option").remove();
    sec.options[0] = new Option("yiqifa-admin","979");
    sec.options[1] = new Option("yiqifa-earner-front","980");
    sec.options[2] = new Option("yiqifa-order-collector","983");
    sec.options[3] = new Option("yiqifa-kafka-high-product","984");
    sec.options[4] = new Option("yiqifa-platform微信网关","985");
    sec.options[5] = new Option("yiqifa-push","986");
    sec.options[6] = new Option("yiqifa-product-api","990");
    sec.options[7] = new Option("yiqifa-scheduler","991");
    sec.options[8] = new Option("yiqifa-scheduler-console","992");
    sec.options[9] = new Option("yiqifa-proxy-web","994");
    sec.options[10] = new Option("yiqifa-webcenter","997");
    sec.options[11] = new Option("yiqifa-statics","998");
    sec.options[12] = new Option("yiqifa-advertiser-front","999");
    sec.options[13] = new Option("yiqifa-www-front","1004");
    sec.options[14] = new Option("yiqifa-monitor","1005");
    sec.options[15] = new Option("yiqifa-adcenter","1006");
    sec.options[16] = new Option("yiqifa-productcenter","1007");
    sec.options[17] = new Option("yiqifa-usercenter","1008");
    sec.options[18] = new Option("yiqifa-websitcenter","1009");
    sec.options[19] = new Option("yiqifa-ordercenter","1010");
    sec.options[20] = new Option("yiqifa-financecenter","1011");
    sec.options[21] = new Option("yiqifa-reportcenter","1012");
    sec.options[22] = new Option("yiqifa-messagecenter","1013");
    sec.options[23] = new Option("yiqifa-thirdpart-api","995");
    sec.options[24] = new Option("亿起发小程","1014");
    sec.options[25] = new Option("yiqifa-adaptorcenter","1034");
  }
  if(val == '3'){
    var sec = document.getElementById('job_id');
    $("#job_id").find("option").remove();
    sec.options[0] = new Option("egou-api-act","1015");
    sec.options[1] = new Option("egou-api-app","1016");
    sec.options[2] = new Option("egou-api-shop","1017");
    sec.options[3] = new Option("egou-api-user","1018");
    sec.options[4] = new Option("egou-union","1019");
    sec.options[5] = new Option("egou-msite","1020");
    sec.options[6] = new Option("egou-order","1021");
    sec.options[7] = new Option("egou-pay","1022");
    sec.options[8] = new Option("egou-play","1023");
    sec.options[9] = new Option("egou-service-ordert","1024");
    sec.options[10] = new Option("egou-service-pay","1025");
    sec.options[11] = new Option("egou-service-shop","1026");
    sec.options[12] = new Option("egou-service-user","1027");
    sec.options[13] = new Option("egou-signmgr","1028");
    sec.options[14] = new Option("egou-playmgr","1029");
    sec.options[15] = new Option("voyagerbigou","1030");
    sec.options[16] = new Option("易购小程序","1031");
    sec.options[17] = new Option("易购app-ios","1032");
    sec.options[18] = new Option("易购app-Android","1033");
    sec.options[19] = new Option("egou-supermgr","1035");
    sec.options[20] = new Option("egou-api-superf","1036");
    }
}
</script>
        <table>
            <tr>
                <td>{{ form.group_id.label }}</td>
                <td>{{ form.group_id(onchange="setSecond(this)" ) }}</td>
                 <td>{% if form.group_id.errors %}
                    <ul class=errors>
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                         {% endfor %}
                            </ul>
                            {% endif %}
                  </td>
            </tr>
            {{ render_field(form.job_id) }}
            {{ render_field(form.applicant_id) }}
            {{ render_field(form.approver) }}
            {{ render_field(form.ol_type) }}
            {{ render_field(form.apply_date) }}
            {{ render_field(form.ol_date) }}
            {{ render_field(form.version) }}
            {{ render_field(form.v_tag) }}
            {{ render_field(form.v_desc) }}
            {{ render_field(form.tester) }}
            {{ render_field(form.remark) }}
            {{ render_field(form.send_email) }}
{#          {{ render_field(form.submit) }}#}
        </table>
        {{ form.submit }}
    </form>
       </table>
    </div>
{% endblock %}
