{#{% extends "base.html"%}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VersionTracker</title>
    <link rel="stylesheet" href="../../static/css/adhd.css" type="text/css">
{#    <script type="application/javascript">#}
{#        var msg = "{{ msg|safe }}"#}
{#        console.log(msg)#}
{#        if (msg){#}
{#            alert(msg)#}
{#        }#}
{#    </script>#}
</head>
<body>
{#    {% block main %}#}
    {% from "_field.html" import render_field %}
{#    <p hidden="hidden">#}
    <form action="{{url_for ('version_maintain')}}" method="post">
        <table>
            {{ render_field(form.group) }}
            {{ render_field(form.job_name) }}
            {{ render_field(form.applicant) }}
            {{ render_field(form.approver) }}
            {{ render_field(form.ol_type) }}
            {{ render_field(form.apply_date) }}
            {{ render_field(form.ol_date) }}
            {{ render_field(form.version) }}
            {{ render_field(form.v_tag) }}
            {{ render_field(form.v_desc) }}
            {{ render_field(form.tester) }}
            {{ render_field(form.remark) }}
            {{ render_field(form.send_email) }}
            {{ render_field(form.submit) }}
        </table>
        {{ form.submit }}
    </form>
{#{% endblock %}#}
</body>
</html>