{% extends "base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style></style>
</head>
<body>
{% block main %}
{#    <form method="post" action="{{ url_for('act_template') }}">#}
    <form action="{{url_for('act_template')}}" method="post">
        <select name="env">
            <option>测试环境</option>
            <option>生产环境</option>
        </select>

        <table border="1"  >
            <tr  class="thclass">
                <th colspan='4'>通过模板类型查询活动</th>
            </tr>
            <tr class="thclass" >
            <th >框架</th>
            <th>活动名称</th>
            </tr>
            <tr>
                <td class="tdpadding">新框架</td>
                <td>
                    <input type="checkbox" name="newframe" style="margin-left: 10px">轮盘
                    <input type="checkbox" name="newframe">套牛
                    <input type="checkbox" name="newframe">翻牌
                    <input type="checkbox" name="newframe">扭蛋
                    <input type="checkbox" name="newframe">砸蛋
                    <input type="checkbox" name="newframe">老虎机
                    <input type="checkbox" name="newframe">刮刮卡
                    <input type="checkbox" name="newframe">划卡
                    <input type="checkbox" name="newframe">红包雨
                </td>
            </tr>
            <tr>
                <td class="tdpadding">老框架</td>
                <td>
                    <input type="checkbox" name="oldframe">抓娃娃
                    <input type="checkbox" name="oldframe">九宫格
                </td>
            </tr>
        </table>
        <input type="submit" value="查询" style="padding: 5px">
    </form>
    <table border="1">
    <tr>
        <td>{{ newframe }}</td>
    </tr>
    <tr>
        <td>{{ oldframe }}</td>
    </tr>
    </table>
{% endblock %}
</body>
</html>