{#{% extends "base.html"%}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h2>API概述信息</h2>
    <table border="1">
        <thead>
        <td>子系统</td>
        <td>接口数量</td>
        <td>覆盖数量</td>
        <td>覆盖率</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="hdt_demand" target="_blank">hdt_demand</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="hdt_admin" target="_blank">hdt_admin</a></td>
            <td>100</td>
            <td>60</td>
            <td>60%</td>
        </tr>
        <tr>
            <td><a href="hdt_displaynode" target="_blank">hdt_displaynode</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="egou" target="_blank">egou</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="yiqigou" target="_blank">yiqigou</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>

    </table>
    <a href="testCase" target="_blank"><h2>API信息维护</h2></a>
</body>
</html>