<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<!--<script type="text/javascript" src="http://static.adhudong.com/p/discountplus/common/lib/jquery-1.7.2.min.js"></script>-->
        <h1>添加host 使用域名访问 172.16.17.187 display.eqigou.com </h1>
		<h1>互动推抽奖页面活动03</h1>
        <script type="text/javascript">
		    /*互动推抽奖页面活动03*/
		    var cpro_id = "u3203526";
		</script>
		<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"></script>
        <h1>互动推抽奖页面活动01</h1>
        <script type="text/javascript">
        /*互动推抽奖页面活动01*/
        var cpro_id = "u3202191";
    </script>
    <script type="text/javascript"  src="http://cpro.baidustatic.com/cpro/ui/cm.js "></script>
     <h1>互动推抽奖页面活动02</h1>
     <script type="text/javascript">
    /*互动推抽奖页面活动02*/
    var cpro_id = "u3202192";
    </script>
    <script type="text/javascript"  src="http://cpro.baidustatic.com/cpro/ui/cm.js "></script>
	</body>
</html>
