<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!--<script src="{{url_for('static',filename='jquery.min.js')}}"></script>-->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><!--<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}" >
    <!--<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}"crossorigin="anonymous"><!--<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}" >
    <!--<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
    >
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--<script src="{{url_for('static',filename='bootstrap.min.js')}}"  crossorigin="anonymous"></script>-->
    <!--<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/drilldown.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Data Tables -->
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <title></title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">测试报表<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('hdtmonitor')}}">互动推监控</a></li>
            <li><a href="{{url_for('testhightchar',day=10,advertiser_id=153)}}">按照广告主展示</a></li>
            <li><a href="#">托底广告</a></li>
            <li><a href="#">托底广告(24)</a></li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">测试工具<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('hdt_cssc')}}">测试页面(互动推)</a></li>
            <li><a href="{{url_for('hdtapi')}}">api&UI测试接口(互动推)</a></li>
            <li><a href="{{url_for('myiframe')}}">iframe测试(互动推)</a></li>
            <li><a href="{{url_for('recharge')}}">联动平台模拟充值(互动推)</a></li>
            <li><a href="{{url_for('cpa_api')}}">CPA广告主回调接口测试</a></li>
            <li><a href="{{url_for('render_link')}}">广告主数据收集</a></li>
            <li><a href="{{url_for('del_minipragram')}}">删除小程序相关数据</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">查询工具<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('hdt_redis.myredis')}}">redis缓存数据-订单预算(互动推)</a></li>
            <li><a href="{{url_for('hdt_redis.myredis_status')}}">redis缓存数据-订单状态(互动推)</a></li>
            <li><a href="{{url_for('hdt_redis.adzone_limit_diff')}}">redis缓存数据-同一广告位多个订单，三地同步比对(互动推)</a></li>
            <li><a href="{{url_for('voyagerlog1')}}">查询生产环境日志(互动推)</a></li>
            <li><a href="{{url_for('hdt_redis.orderresion')}}">查询生产环境日志-订单选中详情(互动推)</a></li>
            <li><a href="{{url_for('confparas')}}">数据库配置(互动推)</a></li>
            <li><a href="{{url_for('ad_simulation')}}">模拟投放接口(互动推)</a></li>
            <li><a href="{{url_for('UpdateAdId')}}">更新Advertiser_ID</a></li>
            <li><a href="{{url_for('QueryAppkey')}}">查询Appkey</a></li>
            <li><a href="{{url_for('crm_order')}}">优品购订单明细查询</a></li>


            <li><a href="{{url_for('effect_order')}}">优品购效果和订单一致性查询</a></li>
            <li><a href="{{url_for('phoneVaildCode')}}">测试环境手机验证码查询</a></li>
            <li><a href="{{url_for('orderQueryCreative') }}">根据订单id、创意查询</a></li>
            <li><a href="{{url_for('report_byadzone')}}">根据广告位查询报表</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">活动相关功能<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="{{url_for('act.adzoneAct')}}">广告位关联活动</a></li>
              <li><a href="{{url_for('act.templateToAct',page_name='query')}}">活动模板互查</a></li>
              <li><a href="{{url_for('act.checkRoute')}}">活动路由检查</a></li>
              <li><a href="{{url_for('act.create_act')}}">创建活动(互动推)</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OCPA相关功能<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{{url_for('ocpa.ocpa_price')}}">OCPA订单调价趋势图</a></li>
                  <li><a href="{{url_for('ocpa.ocpa_order')}}">OCPA订单明细查询</a></li>
                  <li><a href="{{url_for('ocpa.ocpa_data')}}">OCPA数据准备</a></li>
                  <li><a href="{{url_for('ocpa.ocpa_report')}}">OCPA汇总报表</a></li>
                  <li role="separator" class="divider"></li>
              </ul>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">小程序相关功能<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{{url_for('miniprogram.punchcard')}}">低碳打卡小程序用户信息统计</a></li>
                  <li><a href="{{url_for('miniprogram.mini_mediainfo')}}">小程序推广渠道数据统计</a></li>
                  <li><a href="{{url_for('miniprogram.mini_userinfo')}}">小程序用户数据查询</a></li>
                  <li><a href="{{url_for('miniprogram.media_report')}}">小程序媒体报表</a></li>
                  <li><a href="{{url_for('miniprogram.media_reportnew')}}">小程序媒体报表最新版</a></li>
                  <li><a href="{{url_for('miniprogram.mini_mediaconfig')}}">小程序媒体配置</a></li>
                  <li><a href="{{url_for('miniprogram.mini_add')}}">小程序卡用户增加可用碳积分</a></li>

                  <li role="separator" class="divider"></li>
              </ul>
          </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API套件<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('testCase.Api_index')}}">API统计</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">叮当柚子<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('ddyzinfo')}}">叮当柚子总代-代理关系表</a></li>
          </ul>
        </li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CDP业务<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('CDP.yiqifaCdpES')}}">CDP查询es相关数据</a></li>
            <li><a href="http://172.16.105.36:19190/index.do" target="_blank">CDP数据比对 - 优品购订单/集效表单总数比对</a></li>
            <li><a href="http://172.16.105.36:19190/phonequery.do" target="_blank">CDP数据比对 - 优品购/集效行为日志数据比对</a></li>
            <li><a href="http://172.16.105.36:19190/userphoto.do" target="_blank">CDP数据比对 - 优品购/集效用户画像图表数据比对</a></li>
            <li><a href="http://172.16.105.36:19190/cdpquery.do" target="_blank">CDP数据比对 - 优品购/集效抽样比对</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">亿起发业务<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('Yiqifa.shortJump')}}">短链跳转缓存至redis集群</a></li>
            <!--<li><a href="{{url_for('Finace.yiqiFinace')}}">网站主财务结算信息</a></li>-->
            <li role="separator" class="divider"></li>
          </ul>
        </li>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">版本管理<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('launchlist')}}">版本列表</a></li>
            <li><a href="{{url_for('version_maintain',page_name='new')}}">添加版本</a></li>
            <li><a href="{{url_for('version_stat')}}">版本趋势图</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="{{url_for('test_tools_tracker',post_id=0)}}" >测试平台功能管理<span class="caret"></span></a>
        </li>
      </ul>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% block main %}{% endblock %}
</body>
</html>