{% extends "base.html"%}
{% from "_field.html" import render_field %}
{% block main %}
    <style>
    li{
        float: left;
        margin-right: 30px;;
    }
    ul:after{
        content: '';
        display: block;
        clear: both;
        visibility:hidden;
        height: 0;;
    }
    </style>
<div class="container">
<form action="{{url_for('checkRoute')}}" method="post">
    {{ render_field(form.env) }}
    {{ render_field(form.adzoneLink) }}
    <br>
    {{ form.submit }}
</form>
{% if re_type==1 %}
    <hr>
    <table border="1">
        <tr>
            <td>状态码</td>
            <td>路由</td>
{#            <td>请求url</td>#}
        </tr>
        {% for i in range(re_len) %}
        <tr>
            <td>{{ re[i]['status_code'] }}</td>
            <td><a target="_blank" href="{{ re[i]['target_url'] }}">{{ re[i]['route'] }}</a></td>
{#            <td></td>#}
        </tr>
        {% endfor %}
    </table>
{% else %}
    <hr>
    <p>{{ re }}</p>
{% endif %}
</div>
{% endblock %}