<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
        <script src="http://static.adhudong.com/display/public/jssdk-1.0.min.js"></script>
	</head>
	<body>
		<!--<script type="text/javascript" src="http://static.adhudong.com/p/discountplus/common/lib/jquery-1.7.2.min.js"></script>-->
            <div id="media1">
            </div>
                <script type="text/javascript">
               new EmarMedia({
                appKey:'adhub64f64fe31b34498',
                 container:'#media1',
                 target:'_blank'
                  });
		</script>
	</body>
</html>
