{% extends "base.html"%}
{% block main %}
<div class="container">
<form action="{{url_for('launchlist')}}" method="post">
    {{form.hidden_tag()}}
    <tr>
        <td>
            {{ form.myyear.label }}:{{ form.myyear }}
        </td>
        <td>
            {{ form.mymonth.label }}:{{form.mymonth }}
        </td>
        <td>
            {{ form.groups }}
        </td>
        <td>
            {{ form.testers }}
        </td>
        <td>
        {{form.submit }}
        </td>
        <td>
        <button><a id="expBtn" download="result.xlsx" href="../static/result/result.xlsx" >导 出</a></button>
        </td>
        <td><b>&nbsp;&nbsp;&nbsp;已上线数量：{{ result|length  }}</b></td>
    </tr>

            <hr>
    <script>
        $(document).ready(function() {
        $('#launchlist').DataTable()} );
    </script>
    <table id="launchlist"  border="2">
        <thead style="background-color: #66cc66">
            <tr>
                <th style="display: none">序号</th>
                <th>id</th>
                <th>业务组</th>
                <th>项目</th>
                <th>开发</th>
                <th>测试</th>
                <th>版本</th>
                <th>变更内容</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for trcout in result %}
            <tr>
                <td style="display: none">{{ loop.index }}</td>
                {% for i in trcout %}
                    <td>{{i|safe}}</td>
                {% endfor %}
                <td><a href="{{url_for('getlanuch',id=trcout[0]|safe)}}">编辑</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
    </div>
{% endblock %}