{% extends "base.html"%}
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->
<!--</head>-->
<!--<body>-->
{% block main %}
        <div style="height:10000px;width:300px">
    测试：<iframe style="height:1000px;width:800px" name="ifd"  src="https://display.adhudong.com/site_login_ijf.htm?app_key=adhu167db58761014193"></iframe>
    <!--生产：<iframe style="height:1000px;width:800px" name="ifd"  src="https://display.intdmp.com/site_login_ijf.htm?app_key=adhu8ef4cf8711904c70"></iframe>-->
    <!--<iframe name="生产" src="https://display.intdmp.com/site_login_ijf.htm?app_key=adhu01dcd9891020457c"></iframe>-->
            </div>
 {% endblock %}
<!--</body>-->
<!--</html>-->